body {
  background-color: #9F6C77;
  font-family: sans-serif;
}

.container {
  width: 80%;
  //background-color: white;
  margin: 0 auto;

}

#dataList {
  overflow: scroll;
  height: 400px;
  background-color: white;
  overflow-x: hidden;
  border-radius: 3px;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  border-radius: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5F4047;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #130C0E;
}

h1 {
  padding: 2%;
  background-color: white;
  border-radius: 3px;
  color: #9F6C77;
}

input {
  width: 98.5%;
  margin: 1% auto;
  display: block;
  border: none;
  padding: 10px;
  font-size: 1.5em;
  border-radius: 3px;
}

::placeholder {
  color: lightgrey;
}


p {
  border-top: 1px solid black;
  padding: 15px;
}

.szerzok {
  background-color: white;
  color: gray;
  padding: 15px;
  border-radius: 3px;
}
